
# Supabase credentials
NEXT_PUBLIC_SUPABASE_URL=https://hwwshobdufqgpqbvwdyw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh3d3Nob2JkdWZxZ3BxYnZ3ZHl3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDYxNjgzMTIsImV4cCI6MjA2MTc0NDMxMn0.RK5OjKRrroafm6TCUv1OrR6-hD55IUgSMdO-PCfN5fs
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh3d3Nob2JkdWZxZ3BxYnZ3ZHl3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0NjE2ODMxMiwiZXhwIjoyMDYxNzQ0MzEyfQ.uhk0jdH7yHvhA2ErSWV416w7Lqy580_N4YL3MQB-Kak
NEXT_PUBLIC_APP_PORT=3002
